<!doctype html>
<html>

<head>

<meta charset="utf-8">
<meta name="description"  content="Official Site-Help Us Give A Better Life To The Needy. Donate Now! Be kind. To lead a better life. Contribute Today.">

  <title>CARE WEBSITE </title>


</head>

<body style="background-color:aqua">
<header>
<nav>
Contact Us On:
Mobile:1890957734.
Email ID:CARE234@gmail.com
</nav>
</div>
<nav>
<a href="{{ url_for('ngo_list') }}">Donate now</a>
</nav>
<nav>
<a href="{{ url_for('register_ngo') }}">  Register Ngo</a>
</nav>
<nav>
  <a href="{{ url_for('create_needy_profile') }}">Report Needy Person</a>
</nav>
<nav>
 <a href="{{ url_for('ngo_list') }}"> View NGO's </a>
</nav>
<nav>
  <a href="{{ url_for('needy_list') }}">View profiles of needy people</a>
</nav>
<nav>
  <a href="{{ url_for('search_by_loc') }}">Locate Ngo</a>
</nav>

</header>

<h1 style="color:orange;"> <big> CARE FOR OTHER's </big></h1>

  <h2 style="color:purple;">  WHY SHOULD  YOU CARE??</h2>

<p style="color;grey;">
 <ul >
<big>
  <li><b>22%</b> population is below the poverty line</li>
<li><b>13,40,000 </b>children below 5 die in a year, that is<b> 3,671</b> under 5 child deaths per day.</li>
<li><b>1 in every 8 children</b> in India is working, when they should be at school.</li>
<li>More than<b> 30%</b> of the population is homeless and does not have money for food,medicines and clothes.</li>
<li><b>17% </b>of the  populations sleeps empty stomach every night.</li>

</p>
</big>
</ul>
<p style="color:green;"><big>This is how NGO's help the needy......</big></p>
<img   height= "250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr16yJ5GQw2jsmmIMU5_srdsNQgzhCxc-JMUNFsH-yuQzKIOhJ6Q&s" alt="Donating Food to the needy......"/>
<img width="250" height="250"  src="https://d2aq6dqxahe4ka.cloudfront.net/assets/uploads/challenges/335503088.jpg" alt="Children at the NGO's......"/>
<img     height ="250" src="https://www.clothesboxfoundation.org/images/csr/joyofgiving/emr4.jpg" alt="Donating Clothes to the  needy"/>

<big>
<h3 style="color:red;">Here's how you can contribute!</h3>
<p >
<ul >
<li> Make the needy person's profile.</li>
<li> Help the NGO's take that person to their care centres.</li>
<li>Donate clothes that u no longer use.</li>
<li>Donate money to the NGO's.<br>Here's how your money will be used</li>
<ol >
<li>Medication.</li>
<li>Food
<li>Clothing.</li>
<li>Education.</li>
</ol>
<li>And last but not the least:Try to make the NGO's aware of more and more needy people.
</ul>
</big>
</p>


<p style="color:yellow;"><big> The video show's how the NGO'S are doing a great job......</big></p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/g0_mc0bwReo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<footer style="color:blue;">
  <big>Hope u help us.....
  Your small contribution might save someone's life</big>
</footer>

</body>

</html>
