<!DOCTYPE html>
<html lang="en">
<title>NGO</title>
<head>
 <link href="../static/main.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
        <h1>Needy People</h1>
        <h3>pls fill the details</h3>
        <form action="" method="POST">
          <input title="Name" placeholder="enter name" type="text" name="name" required><br>
          <input title="Age" placeholder="enter age" type="number" name="age" required><br>
          <input title="Blood group" placeholder="enter blood group" type="text" name="bldgrp" required> <br>
          photo:<br>
          <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
          <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
          <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
          <meta charset=utf-8 />
          <title>JS Bin</title>
          <!--[if IE]>
          <script src="http://goo.gl/r57ze"></script>
          <![endif]-->
          <input title="Physical disability" placeholder="enter physical disability" type="text" name="phydis" required><br>
          <h4>Gender:</h4>
          <select name="gender" size="3"> gender
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <h4>Location:</h4>
          <select name="loc" size="3"> location
            <option value="Borivali-Andheri">Borivali-Andheri</option>
            <option value="Andheri-Bandra">Andheri-Bandra</option>
            <option value="Bandra-Dadar">Bandra-Dadar</option>
            <option value="Dadar-Mumbai Central">Dadar-Mumbai Central</option>
            <option value="Mumbai Central-Churchgate">Mumbai Central-Churchgate</option>
          </select>

          <button type="submit"> Submit </button>

        </form>
    </div>
  </body>
</html>
