<!doctype html>
<html>
<head></head>
<body style="background-color: DarkKhaki">
	<h3>Name of NGO: {{ ngo }}</h3>
	<h4>Enter your personal details to tranfer the money</h4>
	<form action="" method="POST">
  First name:
  <input type="text" name="firstname"><br>
  Last name:
  <input type="text" name="lastname"><br>
  select gender:
  <select name="gender" size="3"> gender
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select><br>
  Enter your age:
  <input type="number" min="10" max="110"><br>

	Name of the bank:
	<input type="text" name="name of the bank"><br>
	Amount to be tranferred:
	<input type="number" name="mtrans"><br>
	Enter the account number:
	<input type="text" name="account number"><br>
	Password:
	<input type="Password" name="account Password"><br>
	Enter the cvv number:
	<input type="Password" name="cvv"><br>
	<input type="submit" name="Submit">
  <input type="reset" name="reset"><br><br>
</form>
<span style="color:white; background-color:red; ">“No one has ever become poor by giving.”
― Anne Frank</span>

</body>

</html>